<md-card>
  <md-content layout="column">
    <md-list-item class="md-2-line">
      <img class="md-avatar" src="logo.png"/>
      <div class="md-list-item-text">
        <h3>Angular-Material</h3>
        <p>Angular v1.5.8, Material v1.1.1</p>
      </div>
    </md-list-item>

    <div layout-padding>
      <p>
        It's my own app. where I used exceptionally Angular-material. It consist of the simple user's list where you can get detailed inforamtion about every one by clicking on it. Moreover the greetings is appeared at the 'Bottom Sheet' if you would click on the 'fab' icon on the right hand. The layout is fully responsive. I used animatecss dependency for the animation.
      </p>

      <h3>Project`s screens</h3>
    </div>

    <md-card-content><p>User detail view</p></md-card-content>
    <img ng-src="img/Screenshot_29.png" class="md-card-image" alt="Washed Out">
    <md-card-content><p>Bottom Sheet</p></md-card-content>
    <img ng-src="img/Screenshot_30.png" class="md-card-image" alt="Washed Out">
    <md-card-content><p>Mobile views</p></md-card-content>
    <img ng-src="img/Screenshot_31.png" class="md-card-image" alt="Washed Out">
    <md-card-content><p>Togle sidenav</p></md-card-content>
    <img ng-src="img/Screenshot_32.png" class="md-card-image" alt="Washed Out">
    <md-card-content><p>Togle Bottom Sheet</p></md-card-content>
    <img ng-src="img/Screenshot_33.png" class="md-card-image" alt="Washed Out">
  </md-content>
</md-card>
