<md-content class="md-padding" layout="column">
  <md-card>
    <md-card-header>
     <md-card-avatar>
       <img src="logo.png"/>
     </md-card-avatar>
     <md-card-header-text>
       <span class="md-title">Teamgeist</span>
       <span class="md-subhead">Angular v1.5.8, Material v1.1.1, Express, Electron, MySQL or Postgres</span>
     </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <p>
        The project was developed with analogy to the Upwork time counter.
        The REST Express  server which was used   here is common one written on PostgreSQL and MySQL.  The web interface was written with the help of Angular-material. It uploads dynamicaly in depend of user (for example manger or developer).  Developer has ability to review his activity statistic only. But the manager has ability to operate the projects and developer's porfiles.
        The client side was created with the Electron and its aim  is to send Screenshot with all required data to the server.
      </p>
    </md-card-content>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Screens project</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content><p>Login form</p></md-card-content>
    <img ng-src="img/Screenshot_4.png" class="md-card-image" alt="Washed Out">
    <md-card-content><p>Day stat user board</p></md-card-content>
    <img ng-src="img/Screenshot_5.png" class="md-card-image" alt="Washed Out">
    <md-card-content><p>Month stat user board</p></md-card-content>
    <img ng-src="img/Screenshot_6.png" class="md-card-image" alt="Washed Out">
    <md-card-content><p>Download desktop client</p></md-card-content>
    <img ng-src="img/Screenshot_7.png" class="md-card-image" alt="Washed Out">
    <md-card-content><p>Projects list and create project form</p></md-card-content>
    <img ng-src="img/Screenshot_8.png" class="md-card-image" alt="Washed Out">
    <md-card-content><p>Project (attach/detach developers)</p></md-card-content>
    <img ng-src="img/Screenshot_9.png" class="md-card-image" alt="Washed Out">
    <md-card-content><p>Developers list and create developer form</p></md-card-content>
    <img ng-src="img/Screenshot_10.png" class="md-card-image" alt="Washed Out">
    <md-card-content><p>Responsive and desktop client</p></md-card-content>
    <img ng-src="img/Screenshot_11.png" class="md-card-image" alt="Washed Out">
  </md-card>
</md-content>
